[submodule "checkpoint"]
	path = checkpoint
	url = git@github.com:nonmadden/checkpoint.git
[submodule "giver"]
	path = giver
	url = git@github.com:nonmadden/giver.git
[submodule "magnifier"]
	path = magnifier
	url = git@github.com:nonmadden/magnifier.git
[submodule "exchange"]
	path = exchange
	url = git@github.com:nonmadden/exchange.git
[submodule "read-streaming"]
	path = read-streaming
	url = git@github.com:nonmadden/read-streaming.git
[submodule "irc-bot"]
	path = irc-bot
	url = git@github.com:nonmadden/irc-bot.git
[submodule "YH11-Bot"]
	path = YH11-Bot
	url = git@github.com:nonmadden/YH11-Bot.git
